<div class="task-form-container">
  <h2>{{ editingTask ? 'Modifier la tâche' : 'Ajouter une tâche' }}</h2>

  <!-- [formGroup] : lie le formulaire à notre FormGroup dans le component TS -->
  <form [formGroup]="form" (ngSubmit)="submit()" class="responsive-form">

    <label for="title">Titre</label>
    <input
      type="text"
      id="title"
      formControlName="title"
      placeholder="Titre de la tâche"
    />

    <label for="description">Description</label>
    <textarea
      id="description"
      formControlName="description"
      placeholder="Description de la tâche"
    ></textarea>

    <label for="priority">Priorité (1-5)</label>
    <input
      type="number"
      id="priority"
      formControlName="priority"
      min="1"
      max="5"
    />

    <!-- Champ Date d'échéance -->
    <label for="dueDate">Date d'échéance</label>
    <input
      type="date"
      id="dueDate"
      formControlName="dueDate"
    />

    <!-- Bouton Submit -->
    <button type="submit">
      {{ editingTask ? 'Modifier' : 'Ajouter' }} Tâche
    </button>
  </form>
</div>
